/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 192px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 192px;
  background-color: #146c6d;
  padding: 10px;
  color: white; 
}

.footer-text {
  color: white;
  opacity: 0.5;
}

.copyright {
  color: white;
  opacity: 1;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.container {
  max-width: 992px;
}

.content {
  background-color: #f3f3f3;
  padding: 20px;
}

.wits_logo {
    max-width: 75px;
    max-height: 75px;
    padding-right: 10px;
}

.quote {
  background-color: #e91a16;
}

.quote-text {
  font-family: cursive;
  max-width: 666px;
  margin: auto;
  float: none;
}

